/* obnoxious pokemon fonts */

@font-face {
    font-family: pokemon1;
    src: url(../fonts/Pokemon-Solid.ttf);
}
@font-face {
    font-family: pokemon2;
    src: url(../fonts/Pokemon-Hollow.ttf);
}
@font-face {
    font-family: pixelify;
    src: url(../fonts/Pixelify.ttf);
}

/* Main Styling ------------------------------*/

body {
    /* not sure if I need position relative but am putting it anyway */
    position: relative;
    background-image: url(../images/pokemon-bg.png);
}

h1 {
    color: #ffce00;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
    font-family: pokemon1;
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

/* Utility classes------------------------------*/

.hide {
    display: none !important;
}

/* Generic Screen Styling */

.screen {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(0, 0, 0, 0.8);
    width: 50rem;
    min-height: 50rem;
    border: 0.5rem solid #395ba1;
    border-radius: 10px;
}

.screen p {
    font-family: pixelify;
    font-size: 2rem;
    margin: 1rem 1rem;
    color: #395ba1;
    /* text-shadow: -1px -1px 0 #ffce00, 1px -1px 0 #ffce00, -1px 1px 0 #ffce00,
        1px 1px 0 #ffce00; */
    outline-width: 2px;
}

/* Start Screen Styling ------------------------------ */

#start-screen {
    display: flex;
    flex-direction: column;
}

#start-screen img {
    display: block;
    max-width: 35rem;
    margin: 0 auto;
}

#start-screen p {
    font-family: pixelify;
    color: #ffffff;
    /* text-shadow: -1px -1px 0 #ffce00, 1px -1px 0 #ffce00, -1px 1px 0 #ffce00,
    1px 1px 0 #ffce00; */
    text-align: center;
    font-size: 2rem;
}

.disclaimer p {
    color: red;
}

.start-title {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
}

/* Game Screen Styling ------------------------------*/

/* #game-container {
    display: flex;
    flex-direction: column;
} */

.title {
    color: #ffcb05;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
    font-family: pokemon1;
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    margin-top: 0;
    /* margin-bottom: 0; */
}

.game-screen {
    margin: 2rem;
}

.score-board {
    position: absolute;
    top: 350px;
    right: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    width: 200px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
}

.score-board p {
    font-family: pixelify;
    letter-spacing: 0.25rem;
    color: #ffffff;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.score-board .utility {
    color: #ffcb05;
}

.player-points-output {
    font-family: pokemon2;
    font-weight: 900;
    color: red;
    font-size: 3rem;
    text-align: center;
}

.game-screen .word-to-solve-output {
    color: #ffcb05;
    font-family: pixelify;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
    text-transform: uppercase;
    letter-spacing: 3rem;
    font-size: 3rem;
    text-align: center;
}

.game-screen .hint-time {
    margin-bottom: 1rem;
}

.hint-time .hint {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.time-main {
    text-align: center;
    color: #ffffff;
}

/* input and buttons */

#game-container input {
    font-family: pokemon2;
    background-color: rgb(0, 0, 0, 0.5);
    color: #395ba1;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 5px solid #ffcb05;
    padding-bottom: 1rem;
    width: 100%;
    height: 5rem;
    outline: none;
    margin-bottom: 3rem;
}

#game-container .game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

/* Component Styling ------------------------------*/

/* startgame button */

#start-screen button {
    align-self: center;
    color: #395ba1;
    font-family: pokemon2;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem;
    border: 5px solid #395ba1;
    border-radius: 10px;
    background-color: #ffcb05;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    width: fit-content;
}

/* get hint button */

.get-hint-btn {
    opacity: 0.9;
    height: 85px;
    width: 70px;
}

.get-hint-btn:hover {
    opacity: 1;
    cursor: grab;
    transform: scale(1.1);
    transition: ease-in 0.25s;
}

.cool-down {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(0.5);
    transition: ease-in 0.3s;
}

.cool-down:hover {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(0.5);
    transition: ease-in 0.3s;
}

.game-buttons button {
    color: #395ba1;
    font-size: 2rem;
    font-family: pokemon2;
    font-weight: 900;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 5px solid #395ba1;
    border-radius: 10px;
    background-color: #ffce00;
    cursor: pointer;
}

/* Popup/Modal Styling ------------------------------*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #395ba1;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 1s;
}
.popup h2 {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
    color: #ffce00;
    font-family: pokemon1;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
}
.popup p {
    /* letter-spacing: .25rem; */
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
    color: #ffce00;
    font-family: pokemon1;
    text-shadow: -3px -3px 0 #395ba1, 3px -3px 0 #395ba1, -3px 3px 0 #395ba1,
        1px 1px 0 #395ba1;
}

.popup button {
    font-family: pokemon2;
    font-size: 1.5rem;
    font-weight: 900;
    color: #395ba1;
    padding: 5px 10px;
    padding-bottom: 13px;
    width: fit-content;
    margin: 0 auto;
    border: 3px solid #395ba1;
    background-color: #ffce00;
    border-radius: 10px;
    cursor: pointer;
}
